body{
    background-color: black;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

}

h2{
    color: white;
    text-align: center;
    font-size: 65px;
    font-family: "pf-uniform", sans-serif;
font-weight: 400;
font-style: normal;
}

.rock{
    background-color: red;
    font-family: "pf-uniform", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 30px;
}

button.rock:hover{
background-color: blue;
color: white;
}

.paper{
    background-color: red;
    font-family: "pf-uniform", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 30px;
}

button.paper:hover{
    background-color: blue;
    color: white;
    }

.scissors{
    background-color: red;
    font-family: "pf-uniform", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 30px;
}

button.scissors:hover{
    background-color: blue;
    color: white;
    }

.buttons{
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}